<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
  </head>
  <body>
    <form action="/login" method="post">
      <input type="email" placeholder="Email" name="email" />
      <input type="password" placeholder="Password" name="password" />
      <input type="text" placeholder="Occupation" name="occupation" /><input
        type="text"
        placeholder="Specification"
        name="specification"
      />
      <input type="text" placeholder="Description" name="description" />
      <button type="submit">Register</button>
    </form>
    <p>If already have an account <a href="/login">Login</a></p>
  </body>
</html>
