<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%=user.name%>'s Stories</title>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body
    class="bg-gray-900 min-h-screen flex items-end justify-end p-10"
    style="
      background-image: url('https://images.unsplash.com/photo-1522252234503-e356532cafd5?fm=jpg&q=60&w=3000&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8M3x8ZnVsbCUyMHN0YWNrJTIwZGV2ZWxvcGVyfGVufDB8fDB8fHww');
      background-size: cover;
      background-attachment: fixed;
    "
  >
    <div
      class="bg-white/10 backdrop-blur-md px-8 py-6 rounded-3xl shadow-2xl w-full max-w-7xl"
    >
      <h1 class="text-3xl font-semibold text-zinc-200 italic text-center mb-4">
        Story
      </h1>
      <%if(!stories || stories.length === 0) {%>
        <p>No Stories Yet</p>
        <%} else {%>
            <
<div
          class="px-4 py-2 rounded-xl border italic border-gray-600 bg-black/60 text-cyan-500 font-semibold focus:outline-none focus:border-cyan-400"
        ></div>
        <div
          class="px-4 py-2 rounded-xl border italic border-gray-600 bg-black/60 text-cyan-500 font-semibold focus:outline-none focus:border-cyan-400"
        ></div>
        <div
          class="px-4 py-2 rounded-xl border italic border-gray-600 bg-black/60 text-cyan-500 font-semibold focus:outline-none focus:border-cyan-400"
        ></div>
        <%}%>
         <%if(user.role === "admin"){%>
        <a href="/admin/dashboard" class="px-4 w-fit shrink-0 italic py-2 text-blue-500 hover:text-blue-600 rounded-xl bg-black font-semibold transition transform hover:scale-[1.02] shadow-lg"">Back To Dashboard</a>
        <%} else {%>
            <a href="/dashboard" class="px-4 w-fit shrink-0 italic py-2 text-blue-500 hover:text-blue-600 rounded-xl bg-black font-semibold transition transform hover:scale-[1.02] shadow-lg"">Back To Dashboard</a>
            <%}%>
     
    </div>
  </body>
</html>
