<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body
    class="bg-gray-900 min-h-screen flex items-end justify-end p-10"
    style="
      background-image: url('https://images.unsplash.com/photo-1522252234503-e356532cafd5?fm=jpg&q=60&w=3000&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8M3x8ZnVsbCUyMHN0YWNrJTIwZGV2ZWxvcGVyfGVufDB8fDB8fHww');
      background-size: cover;
      background-attachment: fixed;
    "
  >
    <div
      class="bg-white/10 backdrop-blur-md px-8 py-6 rounded-3xl shadow-2xl w-full max-w-7xl"
    >
      <h1 class="text-3xl font-semibold text-zinc-500 italic text-center mb-4">
        Write Story
      </h1>

      <form action="/write" method="post" class="flex flex-col space-y-4">
        <input
          type="text"
          name="title"
          placeholder="Story Title"
          class="px-4 py-2 rounded-xl border italic border-gray-600 bg-black/60 text-cyan-500 font-semibold focus:outline-none focus:border-cyan-400"
        />
        <input
          type="text"
          name="banner"
          placeholder="Banner Img"
          class="px-4 py-2 rounded-xl border italic border-gray-600 bg-black/60 text-cyan-500 font-semibold focus:outline-none focus:border-cyan-400"
        />
        <textarea
          type="text"
          name="story"
          rows="4"
          placeholder="Story here"
          class="px-4 py-2 rounded-xl border italic border-gray-600 bg-black/60 text-cyan-500 font-semibold focus:outline-none focus:border-cyan-400"
        ></textarea>

        <button
          type="submit"
          class="px-4 italic py-2 text-blue-600 hover:text-cyan-600 rounded-xl bg-black font-semibold transition transform hover:scale-[1.02] shadow-lg"
        >
          Save Story
        </button>
      </form>
    </div>
  </body>
</html>
